.outer {
    overflow: hidden;
  user-select: none;

  --gap: 20px;
  display: flex;
  gap: var(--gap);
}

.inner{
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
