<div class = "stats-master-container">
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Most Common Number" [data]="data.most_common_number" ></app-stats-box>
    <app-stats-box title="Total Spins" [data]="data.total_spins" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
   
</div>

