<div class = "stats-master-container">
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
    <app-stats-box title="Spins" data="2909" ></app-stats-box>
</div>

