* {
    box-sizing: border-box;
    
  }
  
  .container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32,113,77);
  }

  .img-container{
    background-color: rgb(32,113,77);
  }
  
  .img-container img {
    height: 60vh;
    width: 60vh;
    object-fit: contain;
    transform-origin: center center;
    background-color: transparent;
    
  }
  

  .spin-red {
    animation: spinred 4s ease-out forwards;
  }
  
  @keyframes spinred {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1455deg); /* 4 full turns */
    }
  }

  .spin-green {
    animation: spingreen 4s ease-out forwards;
  }
  
  @keyframes spingreen {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1440deg); /* 4 full turns */
    }
  }

  .spin-black {
    animation: spinblack 4s ease-out forwards;
  }
  
  @keyframes spinblack{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1410deg); /* 4 full turns */
    }
  }
