@font-face {
    font-family: 'Scoreboard';
    src: url('assets/fonts/scoreboard.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

* {
    font-family: 'Scoreboard', monospace;
    background-color:black;
  }