.stats-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.stats-box-container > * {
    margin: 0rem;   
    padding: 0.85rem;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}

h3{
    font-size: 1rem;
}

.border{
    border: solid;
    border-color: white;
}