.recent-spins-container{
    width: 30vw;
    height: 70vh;
    border-left: solid;
    padding: 0rem 1rem;
}
.centered-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: -2rem;
}
.spin-styling{

    height: 10vh;
}

h1{
    font-size: 3rem;
    margin: 1rem 0;
}

.ball-styling{
    padding: 0.25rem;
}