<div class = "recent-spins-container">
    <div class = "centered-text">
        <h1> Recent Spins</h1>
    </div >
        
    <div class = "spin-styling">
        <app-recent-spin class = "ball-styling" value = "1" color="red"></app-recent-spin>
        <app-recent-spin class = "ball-styling" value = "33" color="black"></app-recent-spin>
        <app-recent-spin class = "ball-styling" value = "00" color="green"></app-recent-spin>
        <app-recent-spin class = "ball-styling" value = "1" color="red"></app-recent-spin>
        <app-recent-spin class = "ball-styling" value = "33" color="black"></app-recent-spin>
    </div>
    
</div>


