.recent-spins-container{
    width: 30vw;
    height: 70vh;
    border-left: solid;
    padding: 0rem 1rem;
}
.centered-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .spin-styling{
    padding: 1rem;
} */

h1{
    font-size: 3rem;
    margin: 1rem 0;

}